<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
    Product:
    Id: {{product.id}}
    Name: {{product.name}}
    Stock: {{product.stock}}
</body>
</html>
